.testimonials-container {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-101xl) 0 var(--padding-101xl) var(--padding-101xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--baseline-dark);
  font-family: var(--button);
  background-color: var(--baseline-bg-alt);
  .testimonials-head-wrapper {
    width: 824px;
    flex-direction: column;
    gap: var(--gap-61xl);
    flex-shrink: 0;
    .testimonials-head {
      width: 844px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 var(--padding-xl) 0 0;
      gap: var(--gap-base);
      max-width: 100%;
      align-items: center;
      .table-of-contents {
        width: 12px;
        height: 12px;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
      }
      p {
        flex: 1;
        position: relative;
        letter-spacing: 0.15px;
        line-height: 140%;
        text-transform: uppercase;
        display: inline-block;
        min-width: 91px;
        max-width: 100%;
        margin: 0;
        font-weight: 400;
      }
    }
  }
}
.testimonials-container,
.testimonials-head-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.slider-wrapper {
  gap: 175px;
  width: 2850px;
  .slick-list {
    overflow: visible !important;
  }
}

@media screen and (max-width: 450px) {
  .testimonials-container {
    padding: 0;
    .testimonials-head-wrapper {
      padding: 20px;
      width: 100%;
      height: 400px;
      gap: 20px;
      .testimonials-head {
        padding: 0;
      }
    }
  }
  .slick-slider {
    width: 100%;
  }
}
